.options {
    margin-left: 1500px;
    margin-top: 50px;
}
.title {
    margin-left: 600px;
    margin-top: 100px;
    width: 350px;
    height: 100px;
    animation: floatAnimation 3s ease-in-out infinite;
}
.info {
    width: 300px;
    height: 75px;
    animation: floatAnimation 3s ease-in-out infinite;
}
.textbox {
    width: 500px;
    margin-left: 400px;
    margin-top: -100px;
}
.checkbutton {
    width: 200px;
    margin-left: 1000px;
    margin-top: -75px;
}
.viewresultbutton {
    width: 300px;
    margin-left: 500px;
    margin-top: -50px;
    opacity: 0;
}
.modal {
    margin-top: -750px;
    margin-left: -150px;
    height: 300px;
    width: 300px;
    opacity: 0;
}
.modal input{
    margin-top: -100px;
}
ul li.modal:hover {
    transform: none;
}
p {
    color: aliceblue;
    text-align: center;
    transform: 0.5s;
}
.nextgamebutton {
    width: 300px;
    margin-left: 900px;
    margin-top: -60px;
    opacity: 0;
}
.lcoral {
    color: lightcoral;
    }
.lsalmon {
    color: sandybrown;
    }
.lgreen {
    color: lightgreen;
    }
.search-button,.translate-button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    }
.search-icon,.translate-icon {
    width: 20px;
    height: 20px;
  }
  body, html {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#main-game {
    position: relative;
    z-index: 2;
}

#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#main-game table {
    position: absolute;
}
.slide-in {
    animation: slideIn 0.5s ease forwards;
  }